@import "../../global.scss";

.aboutUs {
  background-color: $backgroundColor;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  h1 {
    color: $titleColor;
    font-weight: 200;
    font-size: 50px;
  }

  p {
    font-size: 25px;
    width: 50vw;
    color: $textColor;
    font-weight: 100;
  }
}