// Color Palette
// Black, Gold, White

// Black mainly for Background
$mainColor: #000000;

$backgroundColor: #171717;

// Gold for shape, title
$titleColor: #FFC60B;

// White for text, paragraph
$textColor: #FAFAFA;